@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/custom.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scrollbar {
  scrollbar-color: rgb(140, 140, 255) rgb(255, 204, 111); /* Firefox */
  scrollbar-width: thin; /* Firefox */
}
